.float-left{
  float: none;
}
.float-right{
  float: none;
}
.btn-form {
  padding: 1rem 0;
}
.btn.btn-fill, .btn.btn-border, .btn.btn-fill .icon, .btn.btn-border .icon, .btn.btn-fill:hover, .btn.btn-border:hover {
  color: #ffffff;
}

.btn.btn-fill {
  background-color: #355dff;
  border-color: #355dff;
}
.btn.btn-fill, .btn.btn-border {
  padding:1rem;
  min-width: 7.5rem;
}
.background-light{
  background-color: $background-1;
}
.background-semi-dark{
  background-color: $background-2;
}

h1, .h1 {
  font-size: 1.875rem;
}
h2, .h2 {
  font-size: 1.55rem;
  font-family: 'serpentinebold';
}
h3, .h3 {
  font-size: 1.375rem;
}
h4, .h4 {
  font-size: 1.25rem;
}
ul, ol{
  list-style-type: none;
}