//Spalten Teaser Startseite
.major {
  display: block;
  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    .ce_headline{grid-area: 1 / 1 / 2 / 3;}
  }
}