#header{
  background-image: url($image-path + "background-1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
  section{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25vh 0;
    color: white;
  }
  h1,h2{margin-bottom: 1.625rem;}
  h1{
    font-family: $font-4;
    font-style: italic;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    text-transform: uppercase;
    //font-family: $font-1;
    font-weight: 700;
  }
  p {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.875rem;
    padding-top: 1rem;
  }
}