

body {
  font-family: $font-3;

  text-align: center;
  }
h1,h2{
  font-family: $font-1;
  font-style: normal;
  font-weight: 400;
}


section{
  min-height: 100vh;




}

//Links
.down-link {
  padding: 50px 0;
  text-align: center;
}
a.hyperlink_txt{
  @extend .btn-outline-secondary;
  &:hover{
    text-decoration: none;
  }
}
.details{
  .close-modal {
    text-align: right;
    margin-bottom: 1rem;
  }
  .mod_article.first {
    padding: 1rem 0;
  }
  section .ce_text.first {
    padding: 0;
  }
}


footer {
  position: sticky;
  background-color: rgba(30, 30, 30, 0.5);
  bottom: 0;
z-index:999;
  .inside{
    padding: .5rem 0;
  }
  nav{
    text-align: left;
    .navbar-nav{
      flex-direction: row;

      .nav-item{
        margin: 0 .5rem;
      }
    }
  }
}

.navbar-brand {
  //font-family: $font-2;
  color: #fed136;}
.btn-primary, .btn-xl, h1, h2, h3, h4, h5, h6 {
  //font-family: $font-1;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-primary{
  color: #fff;
  background-color: $main-color-1;
  border-color: $main-color-1;
  &:hover {
    color: #fff;
    background-color: $main-color-1;
    border-color: $main-color-1;
  }
}
.img-thumbnail {
  margin-bottom: 1rem;
  box-shadow: 0 0 5px 1px #050404;
}


.section{
  &-partner {
    background: #eaedef;
    color: #1c2225;
  }
  &-partner-entry {
    max-width: 720px;
    margin: 2em auto 0;
  }
}
.part-logo-link {
   border: none;
   display: inline-block;
 }
.social-buttons {
  @include media-breakpoint-up(lg){
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 2.5em;
    top: calc(50% - 150px);
    width: 40px;
    padding: 0;
    transform: translate(calc(-40px + 0.5em), 0);
    transition: transform .15s ease-in-out;
    z-index: 10;
  }


  i {
    padding: 10px;
    text-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 150ms;
  }

  a {
    &:nth-child(1) {
      color: #3b5998;
    }

    &:nth-child(2) {
      color: #1DA1F2;
    }

    &:nth-child(3) {
      color: black;
    }
  }

  i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  }
}

.fa-instagram {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-ebay {
  color: #6b983f;
}
/** SWIPE ***/

.slider-control{height:30px;position:relative}
.slider-control a,
.slider-control .slider-menu{position:absolute;top:9px;display:inline-block}
.slider-control .slider-prev{left:0}
.slider-control .slider-next{right:0}
.slider-control .slider-menu{top:0;width:50%;left:50%;margin-left:-25%;font-size:27px;text-align:center}
.slider-control .slider-menu b{color:#bbb;cursor:pointer}
.slider-control .slider-menu b.active{color:#666}