

.navbar-nav{
  .nav-link {
    padding: 1rem;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
    margin-right: 2px;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    &.active{
      //border-bottom: 1px solid $primary;
    }
  }


}

footer{
  nav{
    .nav-link{
      color: #fff;
    }
  }

}

