// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-brand {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-brand {
    display: inline-flex;
  }

  header{
    section {
      .ce_text.first {
        //padding: 18rem 0 0 0;
      }
    }
    h1{
      font-size: 2.5rem;
      line-height: 40px;
    }
    h2 {
      margin-bottom: 50px;
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 75px;
    }
    p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 1.125rem;
      padding: 1.25rem;
    }
  }
  section{
    .ce_text.first {
      //padding: 8rem 0 0 0;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.375rem;
      padding: 0 4em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {



}