@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Montserrat|Noto+Serif');
$image-path:        "../img/";
$fa-font-path:        "../webfonts";
$main-color-1:      #FEC503; // Mostly Used Gradient Background Color
$primary:       #FEC503;
$theme-colors: (
        primary: #FEC503,
        secondary:#40beca

);

// Text Color
$light-color: #ffffff;            // Light Color
$dark-color:      	#585858;            // Semi-Dark Color
// Background-color
$background-1:      $light-color;            // Mostly Used Light Background Color
$background-2:      darken( $background-1, 60% );  // Mostly Used Semi Dark Background Color
$background-3:      #972c2c;            // Mostly Used Dark Background Color
// Other Defult Color
$shadow-color:      #000000;
/* Color Theme Swatches in Hex */
$color-theme1-hex: #021F59;
$color-theme2-hex: #049DBF;
$color-theme3-hex: #9EA68F;
$color-theme4-hex: #F27127;
$color-theme5-hex: #D95959;

/* Color Theme Swatches in RGBA */
$color-theme1-rgba: rgba(2,31,89, 1);
$color-theme2-rgba: rgba(4,157,191, 1);
$color-theme3-rgba: rgba(158,166,143, 1);
$color-theme4-rgba: rgba(242,113,39, 1);
$color-theme5-rgba: rgba(217,89,89, 1);

/* Color Theme Swatches in HSLA */
$color-theme1-hsla: hsla(219, 95, 17, 1);
$color-theme2-hsla: hsla(190, 95, 38, 1);
$color-theme3-hsla: hsla(80, 11, 60, 1);
$color-theme4-hsla: hsla(21, 88, 55, 1);
$color-theme5-hsla: hsla(0, 62, 60, 1);
// Default Broder Radius
$border-radius:     5px;

// Font Variables Name
$font-1: 'serpentinebold', sans-serif;
$font-2: 'Cooper', sans-serif;
$font-3: 'Lato', sans-serif;
$font-4: 'Noto+Serif';
@font-face {
  font-family: 'serpentinebold';
  src: url('../fonts/serpentine-bold-webfont.woff2') format('woff2'),
  url('../fonts/serpentine-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;


}
@font-face {
  font-family: 'Cooper';
  src: url('../fonts/CooperBlack.eot');
  src: url('../fonts/CooperBlack.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CooperBlack.woff2') format('woff2'),
  url('../fonts/CooperBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}